{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class='login_register_wrap section'>
    <div class='container'>
        <div class='row justify-content-center'>
            <div class='col-xl-6 col-md-10'>
                <div class='login_wrap'>
                    <div class='padding_eight_all bg-white'>
                        <div class='heading_s1'>
                            <h3>Nouveau mot de passe</h3>                                                                
                        </div>
                        <div class='content'>
                            <div class='message-flash'>
                                {% for flash_error in app.flashes('reset_password_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                {% endfor %}
                            </div>
                            {{ form_start(resetForm) }}
                                {{ form_row(resetForm.plainPassword) }}
                                    <button class="btn btn-fill-out btn-block">Réinitialisé mot de passe</button>
                            {{ form_end(resetForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}
