{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
<script>
    function proposition() {
85
let proposition = new 
FormCollectionTypeClass("idOlProposition","add_button","Retirer cette proposition de réponse","Ajouter une proposition de réponse","<h4>","Composant","</h4>");
}
proposition();


</script>
